.flex{
    width: 100%;
    height: auto;
    display: flex;
    /* margin: 10px auto; */
    margin-top: 100px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start​;
    align-content: flex-start​;
    
    
}

.root{
    text-align: center;
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 10px;
    border:1px solid #eee;
    flex-basis: 2%;
    height: auto;
    width: 250px;
    box-shadow: 0px 2px 2px #ccc;
    padding: 2px;
    transform: scale(1);  
  }



.root img{
    width: 170px;
    height:150px;
    transition: all 1s
}
.root:hover span.binIcon{
    bottom: 75px;
    right: 0
}
span.binIcon{
    position: absolute;
    right: -45px;
    bottom: 35px;
    padding: 8px;
    background-color:#1B97F7;
    border-radius: 7px 0px 0px 7px;
    transition: all 0.5s
}
span.binIcon i{
    color:#f2f2f2;
    font-size: 25px;
    transition: all 1s
}
span.binIcon:hover i{
    color: #333
}
.root:hover img{
    
    transform: scale(1.1)
}
.pFooter{
      display: flex;
      height: 10vh;
      justify-content: space-between
​
  }
.pFooter p {
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: bold;
      font-variant:small-caps;
      color: grey
  }

  .info {
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    height: auto;
    width: 1000px;
    padding: 2px;
  }

.info img{
    width: 40%;    
}

.info h1{
    color: #454177;    
    text-align: center;
    font-size: 40px;
}
.info h3{  
    color: #333059;
    font-size: 30px;
}